@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/catalog';
@import 'blocks/catalog-item';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/moddal';
@import 'blocks/flipInLeft';
@import 'blocks/flipInRight';
@import 'blocks/pageup';

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
.ui-loader-header{
    display: none;
}
