.catalog-item{
    width: 300px;
    height: 440px;
    border: 2px solid #e8e8e8;
    background: #fff;
    text-align: center;
    padding: 16px 20px 28px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    
    &__img{
        max-width: 100%;
        height: 200px;
    }
    &__subtitle{
        margin-top: 15px;
        font-size: 16px;
        font-weight: 700;
    }
    &__descr{
        margin-top: 16px;
        font-size: 14px;
    }
    &__link{
        color: $main-color;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 700;
        margin-top: 12px;
        display: block;
        text-transform: uppercase;
    }
    &__back{
        color: $main-color;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 700;
        display: block;
        text-transform: uppercase;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(calc(-50% - 19px));
    }
    &__line{
        height: 1px;
        width: 100%;
        margin: 0 auto;
        background: #e8e8e8;
        margin-top: 16px;
    }
    &__footer{
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__old-price{
        text-decoration: line-through;
        font-size: 14px;
        color: #555555;
        font-weight: 400;
        text-align: left;
    }
    &__new-price{
        margin-top: 8px;
        font-size: 20px;
        color: #000;
        font-weight: 700;
        text-align: left;
    }
    &__wrapper{
        display: flex;
        width: 200%;
        width: calc(200% + 40px);
    }
    &__main{
        width: 50%;
        margin-right: 0px;
        transform: translateX(-100%);
        transition: 0.5s all;
        &_active{
            transform: translateX(0%);
            margin-right: 20px;
        }
    }
    &__list{
        width: 50%;
        margin-left: 20px;
        transform: translateX(0%);
        padding-right: 20px;
        transition: 0.5s all;
        position: relative;
        
        &_active{
            transform: translateX(-100%);
            margin-left: 0px;
        }
        ul{
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            text-align: left;
            position: relative;
            
        }
        li {
            position: relative;
            margin-bottom: 22px;
            font-size: 14px;
            &:before{
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                background: $main-color;
                left: -20px;
                top: 5px;
            }
        }
    }
}
@media(max-width: 575px){
    .catalog-item{
        margin: 0 auto;
    }
    
}
