.title{
    font-size: 30px;
    color: rgb(13, 13, 13);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    &_left{
        color:#fff;
        font-size: 36px;
        text-align: left;
    }
}
@media (max-width: 768px){
    .title{
        font-size: 24px;
    }
}

@media (max-width: 575px){
    .title{
        font-size: 22px;
        &_left{
            font-size: 18px;
            text-align: center;
        }
    }
}